

.fancy-button{
    display:inline-block;
    text-decoration:none;
    text-align: center;
    text-transform:uppercase;
    font-size:1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(107, 107, 107);
    padding: 1rem;
    width: 120px;
    height: 20px;
    position: relative;
   
}

.fancy-button{
    background-image: linear-gradient(#f2f2f2 50%, #e4e3e3 50%);
    border: 1px solid rgb(174, 174, 174);
    border-radius: 6px;
    outline: rgb(187, 187, 187);
    outline-width: 2.5px;
    outline-style:solid;
    inset: 10px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: 0 0 0 3.5px #fff, 0 0 0 5px #888;
}

.fancy-button::before,
.fancy-button::after{
    content: "★";
    color: rgb(172, 172, 172);
}

/* .fancy-button::before{
    content:'★';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 10px;
    border: 1px solid rgb(107, 107, 107);
    background-color: rgb(255, 255, 255);
    z-index: -1;
} */

